body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3498db, #2ecc71);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.login-container {
    display: flex;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.form-box {
    background-color: #fff;
    padding: 40px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 2px solid #3498db;
    outline: none;
    color: #333;
    transition: border-color 0.5s;
}

.input-box input:focus {
    border-color: #2ecc71;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label, .input-box input:valid ~ label {
    top: -10px;
    color: #3498db;
    font-size: 12px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
}

.extra-links {
    text-align: center;
    margin-top: 10px;
}

.extra-links a {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
}

.extra-links a:hover {
    text-decoration: underline;
}

.extra-links p {
    font-size: 14px;
    color: #666;
}
